{% extends 'blog/base.html' %}
{% load static %}

{% block body %}
<div class="container">
  <div class="slider_img_section">
    <img class="my_pic_slider rounded-circle " src="{% static 'img/profile.jpg' %}" alt="" />
<h2 class="titleheader">Iam a</h2>
  <h2 class="typing"></h2>

  </div>
</div>
<div class="container">
  <div class="Service_section" id="service">
    <h2 class="Service">My Experience
</h2>
<p class="text-center servicehead">I CODE IN PYTHON + I PUT IN WORK = YOU GET RESULTS.</p>
    <div class="Service_div">
    <p class="icons"><i class="fas fa-laptop"></i></p>
    <h2 class="title_service">Front-End </h2>
    <ul class="servie_list">
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
      <li>REACT</li>
      <li>BOOTSTRAP</li>
      <li>Api | AjaX</li>
    </ul>
    </div>

    <div class="Service_div">
    <p class="icons"><i class="fas fa-code"></i></p>
    <h2 class="title_service">Back-End </h2>
    <ul class="servie_list">
      <li>PYTHON</li>
      <li>DjANGO</li>
      <li>POSTGRESQL</li>
      <li>SCRAPY</li>
    </ul>
    </div>
    <div class="Service_div">
    <p class="icons"><i class="fas fa-tools"></i></p>
    <h2 class="title_service">TOOLS</h2>
    <ul class="servie_list">
      <li>GIT</li>
      <li>GITHUB</li>
      <li>CMDER/TERMINAL</li>
      <li>VS CODE/ATOM</li>
      <li>HERUKO</li>
    </ul>
    </div>

  </div>

</div>
<!---- contact section--->
<div class="container">
  <div class="portfolio_section" id="portfolio">
    <div class="project_title">
      <h2>Projects</h2>
      <p>Here is my project list what I built </p>
    </div>

        <div class="row">

            <div class="col-lg-12">

                <div class="projects">

                    <div class="row">

                        <div class="col-lg-3 item html">

                            <div class="card">

                                <div class="card-head">
                                    <img src="image.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-overlay"><h2>TODO APP</h2></div>
                                    <div class="card-hover">
                                        <h2>TODO APP</h2>
                                        <p>This is todo list app .You can put and delete and edit your task.</p>
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <h4 class="title">HTML</h4>
                                    <a href="https://O4GDUCCOYP47DAGE.anvil.app/ODB4A5JIGKBD7H5IR4BIVWAX" class="btn btn-lg card-btn">See More</a>
                                </div>

                            </div>

                        </div>


                        <div class="col-lg-3 item html">

                            <div class="card">

                                <div class="card-head">
                                    <img src="image.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-overlay"><h2>HTML</h2></div>
                                    <div class="card-hover">
                                        <h2>Lorem, ipsum.</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quo repudiandae eaque maiores provident deserunt.</p>
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <h4 class="title">HTML</h4>
                                    <a href="#!" class="btn btn-lg card-btn">See More</a>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 item html">

                            <div class="card">

                                <div class="card-head">
                                    <img src="image.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-overlay"><h2>HTML</h2></div>
                                    <div class="card-hover">
                                        <h2>Lorem, ipsum.</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quo repudiandae eaque maiores provident deserunt.</p>
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <h4 class="title">HTML</h4>
                                    <a href="#!" class="btn btn-lg card-btn">See More</a>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 item html">

                            <div class="card">

                                <div class="card-head">
                                    <img src="image.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-overlay"><h2>HTML</h2></div>
                                    <div class="card-hover">
                                        <h2>Lorem, ipsum.</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quo repudiandae eaque maiores provident deserunt.</p>
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <h4 class="title">HTML</h4>
                                    <a href="#!" class="btn btn-lg card-btn">See More</a>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 item html">

                            <div class="card">

                                <div class="card-head">
                                    <img src="image.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-overlay"><h2>HTML</h2></div>
                                    <div class="card-hover">
                                        <h2>Lorem, ipsum.</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quo repudiandae eaque maiores provident deserunt.</p>
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <h4 class="title">HTML</h4>
                                    <a href="#!" class="btn btn-lg card-btn">See More</a>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3 item html">

                            <div class="card">

                                <div class="card-head">
                                    <img src="image.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-overlay"><h2>HTML</h2></div>
                                    <div class="card-hover">
                                        <h2>Lorem, ipsum.</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quo repudiandae eaque maiores provident deserunt.</p>
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <h4 class="title">HTML</h4>
                                    <a href="#!" class="btn btn-lg card-btn">See More</a>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-3 item html">

                            <div class="card">

                                <div class="card-head">
                                    <img src="image.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-overlay"><h2>HTML</h2></div>
                                    <div class="card-hover">
                                        <h2>Lorem, ipsum.</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quo repudiandae eaque maiores provident deserunt.</p>
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <h4 class="title">HTML</h4>
                                    <a href="#!" class="btn btn-lg card-btn">See More</a>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-3 item html">

                            <div class="card">

                                <div class="card-head">
                                    <img src="image.jpg" alt="" class="img-fluid card-img">
                                    <div class="card-overlay"><h2>HTML</h2></div>
                                    <div class="card-hover">
                                        <h2>Lorem, ipsum.</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quo repudiandae eaque maiores provident deserunt.</p>
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <h4 class="title">HTML</h4>
                                    <a href="#!" class="btn btn-lg card-btn">See More</a>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
  </div>
</div>

<!----- contact secyion---->
<div class="container">
<div class="contact_section">
  <h2 class="contact_title">Get Touch Me</h2>
<div class="row justify-content-center">
  <div class="form_wrap">
    <div class="input_section">
      <input type="text" class="form-control" name="fname" placeholder="First name" required>
    </div>
    <div class="input_section">
      <input type="text" class="form-control" name="lname" placeholder="Last name" required>
    </div>
    <div class="input_section">
      <input type="number" class="form-control" name="phone" placeholder="Your Phone Number" required>
    </div>
    <div class="input_section">
      <input type="email" class="form-control" name="email" placeholder="Your Email Address" required>
    </div>
    <div class="input_section">
    <textarea name="name" rows="8" cols="80" placeholder="Write your quiry" required></textarea>
    </div>
    <div class="input_section">
      <input type="submit" name="submit" value="Submit"  class="btn btn-primary  btn-block">
    </div>
  </div>
</div>
</div>


</div>
<!------ footersection---->

  <div class="footer_section">

        <h2 class="copyright"> Developed by Sontus Tripura, 2020</h2>


  </div>



{% endblock %}
